<html ng-app="craneStatic.app">
    <head>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.7.8/angular.min.js"></script>
        <script src="app.js"></script>
        <link rel="stylesheet" href="main.css">
        <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    </head>
    <body ng-controller="craneController as $ctrl">
        <div style="text-align:center;">
            <img src="http://localhost/cam/1" width="800" height="600">
        </div>
        <div class="control-panel">
            <div class="platform">
                <div class="north direction">
                    <button type="button" ng-mouseup="$ctrl.stop()" ng-mousedown="$ctrl.cameraUp()" class="btn btn-primary">Up</button>
                </div>
                <div class="south direction">
                    <button type="button" class="btn btn-primary" ng-mouseup="$ctrl.stop()" ng-mousedown="$ctrl.cameraDown()">Dn</button>
                </div>
                <div class="east direction">
                    <button type="button" class="btn btn-primary" ng-mouseup="$ctrl.stop()" ng-mousedown="$ctrl.cameraCW()">CW</button>
                </div>
                <div class="west direction">
                    <button type="button" class="btn btn-primary" ng-mouseup="$ctrl.stop()" ng-mousedown="$ctrl.cameraCCW()">CCW</button>
                </div>
                <div class="stop direction">
                    <button type="button" class="btn btn-danger" ng-click="$ctrl.stop()">Off</button>
                </div>                
            </div>
            <div class="hook">
                <button type="button" class="btn btn-primary" ng-mouseup="$ctrl.hookStop()" ng-mousedown="$ctrl.hookUp()">Up</button>
                <div class="op-name">Hook</div>
                <button type="button" class="btn btn-primary" ng-mouseup="$ctrl.hookStop()" ng-mousedown="$ctrl.hookDown()">Dn</button>
            </div>
            <div class="boom">
                <button type="button" class="btn btn-primary" ng-mouseup="$ctrl.boomStop()" ng-mousedown="$ctrl.boomUp()">Up</button>
                <div class="op-name">Boom</div>
                <button type="button" class="btn btn-primary" ng-mouseup="$ctrl.boomStop()" ng-mousedown="$ctrl.boomDown()">Dn</button>
            </div>
            <div class="cab">
                <button type="button" class="btn btn-primary" ng-click="$ctrl.platformCW()">CW</button>
                <div class="op-name">Cab</div>
                <button type="button" class="btn btn-primary" ng-click="$ctrl.platformCCW()">CCW</button>
                <input type="range" min="0" max="255" step="1" value="125" ng-model="$ctrl.speed" ng-mouseup="$ctrl.updateSpeed()">
            </div>
            <div class="magnet">
                <div>Magnet</div>
                <button type="button" class="btn btn-primary" ng-click="$ctrl.toggleRelay()">On</button>
            </div>
            <div class="cab" style="display:none;">
                <button type="button" class="btn btn-primary" ng-click="$ctrl.cam = '0'">One</button>
                <div class="op-name">Cam</div>
                <button type="button" class="btn btn-primary" ng-click="$ctrl.cam = '1'">Two</button>
            </div>
        </div>    
    </body>
</html>